@media screen and (max-width: 768px) {
    .headerTam {
        display: none !important;
    }

    .headerMobil {
        display: flex !important;

    }

    .image {
        margin-left: 10px;
    }

}